body {
    background-color: rgb(200,200,200);
}

h1,h2 {
    text-align: center;
    color: powderblue;
}

a {
    target: "_blank";
}

.beard {
    src: "http://orig09.deviantart.net/892a/f/2013/117/b/c/man_with_mighty_beard_by_jenhell66-d63760z.jpg";
    height: "100";
}
